@page "/fetchdata"
@using Button = BootstrapBlazor.Components.Button
@using Toasts = BlazorStrap.Toasts
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>



@code {


}
