@page "/"

<PageTitle>Ana Sayfa</PageTitle>

<h1 style="text-align:center">Merhaba Todo List uygulamamıza hoşgeldin</h1>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3" style="
        width: 100%;
        border: 2px solid #333;
        padding: 30px;
        margin: 25px auto;">
            <NavLink style="text-align : center;font-size:35px;" class="nav-link" href="todolist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Görevlerimi listele
            </NavLink>
        </div>
        <div class="nav-item px-3" style="
        width: 100%;
        border: 2px solid #333;
        padding: 30px;
        margin: 25px auto;">
            <NavLink style="text-align : center;font-size:35px;" class="nav-link" href="addtodo">
                <span class="oi oi-plus" aria-hidden="true"></span> 
                Görev Ekle
            </NavLink>
        </div>
    </nav>
</div>

